<!DOCTYPE html>
<html>
    <head>
       
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="#">
        <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
        <meta name="author" content="#">

        <link rel="icon" type="image/x-icon" href="{{ asset ("assets/images/favicon.ico")}}">
        <link rel="stylesheet" type="text/css" href="{{ asset ("bower_components/bootstrap/css/bootstrap.min.css")}}">
        <link rel="stylesheet" type="text/css" href="{{ asset ("assets/icon/themify-icons/themify-icons.css")}}">
        <link rel="stylesheet" type="text/css" href="{{ asset ("assets/icon/icofont/css/icofont.css")}}">
        <link rel="stylesheet" type="text/css" href="{{ asset ("assets/icon/feather/css/feather.css")}}">

        <link rel="stylesheet" type="text/css" href="{{ asset ("assets/css/style.css")}}">
        <link rel="stylesheet" type="text/css" href="{{ asset ("assets/css/jquery.mCustomScrollbar.css")}}">

        <link rel="stylesheet" type="text/css" href="{{ asset ("assets/pages/toolbar/jquery.toolbar.css")}}">
        <link rel="stylesheet" type="text/css" href="{{ asset ("assets/pages/toolbar/custom-toolbar.css")}}">

        <link rel="stylesheet" type="text/css" href="{{ asset ("assets/css/component.css")}}">

        <link rel="stylesheet" type="text/css" href="{{ asset ("assets/pages/j-pro/css/demo.css")}}">
        <link rel="stylesheet" type="text/css" href="{{ asset ("assets/pages/j-pro/css/font-awesome.min.css")}}">
        <link rel="stylesheet" type="text/css" href="{{ asset ("assets/pages/j-pro/css/j-forms.css")}}">

        <link rel="stylesheet" type="text/css" href="{{ asset ("bower_components/jquery.steps/css/jquery.steps.css")}}">
        <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet">
        <!-- Style.css -->
        <link rel="stylesheet" href="{{ asset ("bower_components/select2/css/select2.min.css")}}">
        
     {% endblock %}
    </head>
    <body>
        {% block body %}
        
        {% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script type="text/javascript" src="{{ asset ("bower_components/jquery/js/jquery.min.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("bower_components/jquery-ui/js/jquery-ui.min.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("bower_components/popper.js/js/popper.min.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("bower_components/bootstrap/js/bootstrap.min.js")}}"></script>

        <script type="text/javascript" src="{{ asset ("bower_components/jquery-slimscroll/js/jquery.slimscroll.js")}}"></script>

        <script type="text/javascript" src="{{ asset ("bower_components/modernizr/js/modernizr.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("bower_components/modernizr/js/css-scrollbars.js")}}"></script>
        
    <script type="text/javascript" src="{{ asset ("assets/pages/toolbar/custom-toolbar.js")}}"></script>
    <script type="text/javascript" src="{{ asset ("assets/pages/toolbar/jquery.toolbar.min.js")}}"></script>

    <script src="{{ asset ("assets/pages/form-masking/inputmask.js")}}"></script>
    <script src="{{ asset ("assets/pages/form-masking/jquery.inputmask.js")}}"></script>
    <script src="{{ asset ("assets/pages/form-masking/autoNumeric.js")}}"></script>
    <script src="{{ asset ("assets/pages/form-masking/form-mask.js")}}"></script>

<script type="text/javascript" src="{{ asset ("assets/pages/j-pro/js/custom/currency-form.js")}}"></script>

<script type="text/javascript" src="{{ asset ("assets/js/modalEffects.js")}}"></script>
    <script type="text/javascript" src="{{ asset ("assets/js/classie.js")}}"></script>
<script type="text/javascript" src="{{ asset ("bower_components/sweetalert/js/sweetalert.min.js")}}"></script>
    <script type="text/javascript" src="{{ asset ("assets/js/modal.js")}}"></script>
    
<script type="text/javascript" src="{{ asset ("assets/pages/advance-elements/select2-custom.js")}}"></script>   
    <script type="text/javascript" src="{{ asset ("bower_components/i18next/js/i18next.min.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("bower_components/jquery-i18next/js/jquery-i18next.min.js")}}"></script>

        <script src="{{ asset ("assets/js/pcoded.min.js")}}"></script>
        <script src="{{ asset ("assets/js/vartical-layout.min.js")}}"></script>
        <script src="{{ asset ("assets/js/jquery.mCustomScrollbar.concat.min.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("assets/js/script.js")}}"></script>
    <script type="text/javascript" src="{{ asset ("assets/pages/j-pro/js/j-forms-additions.min1.js")}}"></script>


        <script type="text/javascript" src="{{ asset ("assets/pages/j-pro/js/jquery.ui.min.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("assets/pages/j-pro/js/jquery.maskedinput.min.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("assets/pages/j-pro/js/jquery-cloneya.min.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("bower_components/select2/js/select2.full.min.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("bower_components/multiselect/js/jquery.multi-select.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("assets/js/jquery.quicksearch.js")}}"></script>
        <script type="text/javascript" src="{{ asset ("assets/pages/form-validation/validate.js")}}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
          
            gtag('config', 'UA-23581568-13');
          </script>
          
        {% endblock %}
    </body>
</html>
